@import "tailwindcss";

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/BricolageGrotesque-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}


